[phases.setup]
nixPkgs = ["erlang", "elixir"]

[phases.install]
cmds = ["mix local.hex --force", "mix local.rebar --force", "mix deps.get --only prod"]

[phases.build]
cmds = ["mix compile", "mix assets.deploy", "mix release"]

[start]
cmd = "_build/prod/rel/pavoi/bin/pavoi eval \"Pavoi.Release.migrate\" && _build/prod/rel/pavoi/bin/pavoi start"
