[phases.setup]
nixPkgs = ["erlang", "elixir", "nodejs", "gcc", "gnumake"]

[phases.install]
cmds = [
  "mix local.hex --force",
  "mix local.rebar --force",
  "mix deps.get --only prod"
]

[phases.build]
cmds = [
  "cd assets && npm ci --production=false && cd ..",
  "mix assets.deploy",
  "mix compile --force",
  "mix release --overwrite",
  "for d in _build/prod/rel/social_objects/lib/social_objects-*/priv; do mkdir -p \"$d/static\" && cp -rf priv/static/. \"$d/static/\"; done"
]

[start]
cmd = "_build/prod/rel/social_objects/bin/social_objects start"
